[Unit]
Description=Run docker-cleanup every hour
BindsTo=docker.service
After=docker.service

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
