[Unit]
Description=Etcd        Server
After=network.target
After=network-online.target
Wants=network-online.target
Documentation=http://github.com/coreos
[Service]
Type=notify
WorkingDirectory=/var/lib/etcd/
EnvironmentFile=-/etc/etcd/etcd.conf
ExecStart=/usr/local/bin/etcd  \
        --name  sz-pg-oam-docker-test-001.tendcloud.com    \
        --cert-file=/etc/kubernetes/ssl/kubernetes.pem  \
        --key-file=/etc/kubernetes/ssl/kubernetes-key.pem       \
        --peer-cert-file=/etc/kubernetes/ssl/kubernetes.pem     \
        --peer-key-file=/etc/kubernetes/ssl/kubernetes-key.pem  \
        --trusted-ca-file=/etc/kubernetes/ssl/ca.pem    \
        --peer-trusted-ca-file=/etc/kubernetes/ssl/ca.pem       \
        --initial-advertise-peer-urls   http://192.168.240.100:2380     \
        --listen-peer-urls      http://192.168.240.100:2380     \
        --listen-client-urls    http://192.168.240.100:2379,http://127.0.0.1:2379      \
        --advertise-client-urls http://192.168.240.100:2379     \
        --initial-cluster-token etcd-cluster-0  \
        --initial-cluster       sz-pg-oam-docker-test-001.tendcloud.com=http://192.168.240.100:2380,sz-pg-oam-docker-test-002.tendcloud.com=http://192.168.240.101:2380,sz-pg-oam-docker-test-003.tendcloud.com=http://192.168.240.102:2380  \
--initial-cluster-state new     \
--data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5
LimitNOFILE=65536
[Install]
WantedBy=multi-user.target
